@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600&family=Source+Sans+Pro&display=swap');

.btnLogin {
    background-color: #D69748;
    border: none;
    border-radius: 5px;
    padding: 0em 4em;
    font-weight: 600;
    height: 2.2em;
    cursor: pointer;
}

.btnCliente {
    background-color: #D69748;
    border: none;
    border-radius: 5px;
    padding: .4em 1em;
    font-weight: 600;
    color:black;
    cursor: pointer;
    margin-right: 1em;
}

.btnLivro {
    background-color: #013E19;
    border: none;
    border-radius: 5px;
    padding: .4em 1em;
    font-weight: 600;
    color:white;
    cursor: pointer;
}

.imgcard{
width: 36%;
}

.text {
    width: 40%;
    margin: auto 2em;
}

.card {
    width: 80%;
    background-color: #EFEFEF;
    border-radius: 20px;
    margin: 4em auto;
    display: flex;
    justify-content: space-between;
    padding: 1em 3em;
}

.cadastros {
    margin-top: 1em;
}

.books {
    width: 80%;
    background-color: #EFEFEF;
    margin: .8em auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    margin-bottom: 5em;
}

.h3 {
    font-weight: 500;
    margin-left: 8em;
    font-size: 18px;
}

@media (max-width:425px) {
    .container {
        width: 80%;
        margin-left: 5.25em;
    }

    .phase{
        font-size: 19px;
        padding: .2em .3em .2em .4em;      
    }
    
    .author{
        padding: .1em 2em .4em 1em;
        font-size: 16px;
    }
}

@media (max-width:375px) {
    .container {
        width: 90%;
        margin-left: 3em;
    }

    .phase{
        font-size: 17px; 
    }
    
    .author{
        padding: .1em 2em .4em 1em;
        font-size: 15px;
    }
}

@media (max-width:320px) {
    .container {
        margin-left: 1.9em;
    }

    .phase{
        font-size: 16px; 
    }
    
    .author{
        font-size: 14px;
    }
}