@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600&family=Source+Sans+Pro&display=swap');

.image {
    background-image: url(../../assets/Livraria-Olimpia.jpg);
    width: 100%;
    height: 32em;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(20%);
    filter: opacity(85%)
}

.phase{
    background-color: black;
    color:white;
    font-size: 25px;
    padding: .2em 1em .2em 1em;
    border-radius: 8px 0 0 8px;
    font-family: 'Source Sans Pro', sans-serif;
}

.author{
    color:#D69748;
    background-color: black;
    padding: .1em 2em .4em 1em;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    border-radius: 0 0 0 8px;
}

.btnLogin {
    background-color: #D69748;
    border: none;
    border-radius: 5px;
    padding: 0em 4em;
    font-weight: 600;
    height: 2.2em;
    cursor: pointer;
}

.btnCliente {
    background-color: #D69748;
    border: none;
    border-radius: 5px;
    padding: .4em 1em;
    font-weight: 600;
    color:black;
    cursor: pointer;
    margin-right: 1em;
}

.btnLivro {
    background-color: #013E19;
    border: none;
    border-radius: 5px;
    padding: .4em 1em;
    font-weight: 600;
    color:white;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: end;
    padding-top: 24em;
}

.imgcard{
width: 36%;
}

.text {
    width: 40%;
    margin: auto 2em;
}

.card {
    width: 80%;
    background-color: #EFEFEF;
    border-radius: 20px;
    margin: 4em auto;
    display: flex;
    justify-content: space-between;
    padding: 1em 3em;
}

.cadastros {
    margin-top: 1em;
}

.books {
    width: 80%;
    background-color: #EFEFEF;
    margin: .8em auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    margin-bottom: 5em;
}

.h3 {
    font-weight: 500;
    margin-left: 8em;
    font-size: 18px;
}

.line{
    display: flex;
    margin: 3em 34em;
}

.line1, .line2 {
    width: 15em;
    height: .25em; 
}

.line1{
    background-color: #D69748;
    border-radius: 10px 0 0 10px;
}

.line2{
    background-color: #013E19;
    border-radius:  0 10px 10px 0;
}

.cel {
    width: 25em;
    margin-left: 3em;
}

.subdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin:  1em auto;
    font-size: 20px;
}

.subtitle{
    text-align: center;
    color: #013E19;
    font-size: 28px;
}

.app {
    display: flex;
}

.playstore{
    cursor: pointer;
    width: 50%;
    margin: 1em 0;
}

@media (max-width:425px) {
    .container {
        width: 80%;
        margin-left: 5.25em;
    }

    .phase{
        font-size: 19px;
        padding: .2em .3em .2em .4em;      
    }
    
    .author{
        padding: .1em 2em .4em 1em;
        font-size: 16px;
    }
}

@media (max-width:375px) {
    .container {
        width: 90%;
        margin-left: 3em;
    }

    .phase{
        font-size: 17px; 
    }
    
    .author{
        padding: .1em 2em .4em 1em;
        font-size: 15px;
    }
}

@media (max-width:320px) {
    .container {
        margin-left: 1.9em;
    }

    .phase{
        font-size: 16px; 
    }
    
    .author{
        font-size: 14px;
    }
}