.btnLogin,
.btnEntrar,
.btnFechar {
    cursor: pointer;
}

.navLogin {
    height: 4em;
    display: grid;
    grid-template-areas:
        'logo logo logo login button';
    gap: 0px;
}

.logoOlimpia {
    grid-area: logo;
    width: 14%;
    margin: auto 2em;
}

.btnLogin {
    grid-area: button;
    background-color: #D69748;
    border: none;
    font-size: 17px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnLogin:hover {
    color: black;
}

.diagonal {
    grid-area: login;
    border: none;
    border-top: 63px solid transparent;
    border-right: 2.8em solid #D69748;
}

.btnEntrar {
    background-color: #D69748;
    color: black;
    border: none;
    text-transform: uppercase;
    padding: .7em 2.6em;
    border-radius: 11px;
    margin: 3em;
    font-weight: 500;
}

.btnEntrar:hover {
    color: white;
}

.imageBook {
    width: 80%;
    border-radius: 25px;
    grid-area: imageBox;
}

.box {
    display: grid;
    grid-template-areas: 'imageBox formBox btnFechar';
    gap:1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    background-color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 25px;
    padding: 2em 4em;
}

.formBox {
    margin: 2em 3em 2em 0; 
    display: grid;
    grid-area: formBox;
}



@media (max-width:1024px) {
    .btnLogin {
        padding: 0 .5em;
    }

    .formBox {
        margin: auto 0 auto 2em;
        width: 14em;
    }

    .btnFechar {
        width: 1.8em;
    }

    .imageBook{
        width: 110%;
    }
}

@media (max-width:768px) {

    .imageBook{
        width: 110%;
    }
    .btnLogin {
        padding: 0 .6em;
        font-size: 16px;
    }

    .iconBook {
        width: 80%;
    }

    .box {
        grid-template-areas: 
        'btnFechar'
        'imageBox '
        'formBox';
        gap:1px;
        width: 50%;
    }

    .formBox {
        margin: auto 0 auto 0em;
        width: 14em;
    }

    .btnEntrar {
        margin-top: .1em;
    }
}

@media (max-width:425px) {
    .logoOlimpia {
        width: 30%;
        margin: auto 2em;
    }

    .imageBook {
        display: none;
    }

    .box {
        width: 80%;
        padding: 2em;
    }

    .input {
        font-size: 16px;
    }

    .btnEntrar {
        margin: 0 4em;
    }

    .formBox{
        margin-top: .5em;
    }
    
    .btnFechar{
        margin-left: 16em;
    }
}

@media (max-width:375px) {
    .logoOlimpia {
        width: 40%;
        margin: auto 2em;
    }

    .btnLogin {
        padding: 0 0.7em;
        font-size: 14px;
    }

    .iconBook {
        width: 70%;
    }

    .box {
        padding: 1em 2.6em;
    }

    .input {
        font-size: 14px;
    }

    .btnEntrar{
        margin: 0 2em 2em 2em;
    }

    .btnFechar{
        margin-left: 14em;
    }

}

@media (max-width:320px) {
    .logoOlimpia {
        width: 50%;
    }

    .box {
        width: 86%;
        padding: 1em;
    }

    .btnFechar{
        width: 1.4em;
    }

}